.marginc{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn1{
	background-color: black;
	color: #f7921e;
	width: 200px;
	height: 100px;
}
.textd{
	text-decoration: none;
	color: #f7921e;
}
